body {
    background-image: url(images/night-sky.jpeg);opacity: .8;
}
caption{
    height: 50px;
    background-color: aliceblue; 
}

#win{
    font-size: 36pt;
    background-color: beige;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

table {
    border-collapse: collapse;
    border: thick solid; 
    
    margin-left: auto;
    margin-right: auto;
}

td {
    
    width: 80px;
    height: 80px;
    
    border: 1px solid blue;
    
    cursor: pointer;
    text-align: center;
}
td:hover {
    background-color: aqua; opacity: 1;
}

.black {
    background-color: dimgrey;
}

.red {
    background-color: red;
}
.red:hover{
    background-color: red;
}

.blue {
    background-color: blue;
}
.blue:hover{
    background-color: blue;
}

button {
    margin: 10px;
    
    margin-left: auto;
    margin-right: auto;
}